html, body {
    font-size: 15px;
    font-family: Lato, sans-serif;
    color: #212121;
    display: block;
    text-align: center;
    line-height: 2.1em;
}

#main {
    background: #F5F5F5;
    border-radius: .62em;
    padding: 15px;
}
/*** Header ***/
.blockHeader {
    color: #212121;
    line-height: 2.1em;
    padding: 10px 83px;
}
#title {
    font-size: 4rem;
    font-weight: 900;
}
#subtitle {
    color: #212121;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 10px;
}

/*** Image ***/
#img-div {
    background: white;
    line-height: 10px;

}
#image {
    max-width: 800px;
    display: inline-block;
    height: auto;
    padding: 0 10px;
    margin: 0 10px;
}
#img-caption {
    display: inline-block;
    max-width: 800px;
    font-style: italic;
    font-size: 1rem;
    color: black;
    line-height: 2.1em;
    text-align: center;
    padding: 0 15px;
    margin: 10px 15px;
}

/*** Main Information ***/
.secondaryHeader {
    font-size: 2rem;
    text-align: center;
    padding: 15px;
}

ul {
    max-width: 550px;
    text-align: justify;
    margin: 0 auto 50px auto;
}
li {
    display: list-item;
    margin: 1em 0;
}
/*** Blockquote ***/

/*.lines {
    content: ;
    align-content: center;
    size: 1px;
    max-width: 700px;
    margin-bottom: 30px;
}
#secondaryLine {
    align-content: center;
    max-width: 600px;
    size: 1px;
    padding: 10px 0 auto auto;
    margin-bottom: 20px;
}*/

.mainBlockquote {
    max-width: 550px;
    text-align: center;
    margin: 0 auto 50px auto;
    font-style: italic;
    border:solid #607D8B;
    border-width:2px 0;
    padding:15px;
    font-size: 1.1rem;
    color: #607D8B;
}

/*** More Information ***/
.moreInformation {
   display: inline-block;
    max-width: 800px;
    font-size: 1.2rem;
    line-height: 2.1em;
    font-weight: 400;

}


