html, body {
    font-size: 15px;
    font-family: Lato, sans-serif;
    color: #212121;
    display: block;
    text-align: center;
    line-height: 2.1em;
}

#main {
    background: #F5F5F5;
    border-radius: .62em;
    padding: 15px;
}
/*** Header ***/
.blockHeader {
    color: #212121;
    line-height: 2.1em;
    border: black 1px solid;
    padding: 10px 83px;
}
#title {
    font-size: 4rem;
    font-weight: 900;
}
#subtitle {
    color: #212121;
    font-size: 1.3rem;
    font-weight: lighter;
    padding: 15px;
}

/*** Image ***/
#img-div {
    background: white;
    border: black 1px solid;
    line-height: 15px;

}
#image {
    max-width: 800px;
    display: inline-block;
    height: auto;
    border: black 1px solid;
    padding: 0 15px;
    margin: 0 10px;


}
#img-caption {
    display: inline-block;
    font-style: italic;
    font-size: 1rem;
    color: black;
    border: black 1px solid;
    line-height: 2.1em;
    text-align: center;
    padding: 0 15px;
    margin: 0 10px;
}

/*** Main Information ***/
.secondaryHeader {
    font-size: 2rem;
    text-align: center;
    border: black 1px solid;
}

ul {
    max-width: 550px;
    text-align: justify;
    margin: 0 auto 50px auto;
    border: black 1px solid;
}
li {
    display: list-item;
    margin: 1em 0;
}
/*** Blockquote ***/

.mainBlockquote {
    max-width: 550px;
    text-align: justify;
    margin: 0 auto 50px auto;
    font-style: italic;
    border: black 1px solid;
}

/*** More Information ***/
.moreInformation {
    border: black 1px solid;
}


